<%- include("partials/header") %>
<script type="text/javascript">
  function upload(){
    document.getElementById("loading").style.display = "block";
  }
</script>


<div id="loading">
  <img id="loading-image" src="Loading.gif" alt="Loading..." />
  <h4>Uploading the model to server</h4>
</div>

<div id="info" class="info-window">
  <button type="button" class="btn-close" onclick="openCloseInfoWindow()" style="float: right;margin-top: 2px; margin-right: 5px;" name="button"></button>
  <div id="info-content">
    <h5>Model Page</h5>
    <p>Here you can upload your own trained model in order to compare your documents.</p>
    <p>You can also see all other models you have uploaded and manage them.</p>
  </div>
  <div id="info-warning">
    <p>Notice: You can only upload files of type ".h5"</p>
  </div>
</div>

<div style="float: right;">
    <i onclick="openCloseInfoWindow()" style="cursor: pointer; color: Dodgerblue;" class="fas fa-info-circle fa-lg"></i>
</div>

<div class="model">
  <h3>Uploaded Models</h3>
  <div class="container vertical-scrollable">
    <div class="row text-center">
      <% models.forEach(model=>{%>
        <div class="col-sm-8">
          <form action="/delete-model" method="POST">
            <p class="p-model"><%= model %></p>
            <input type="hidden" name="modelname" value="<%=model%>">
            <button type="submit" class="btn btn-danger document-button" name="button">Delete</button>
          </form>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<div class="upload-box upload-model">
    <h3 style="text-align: center;">Upload new model</h3>
    <div class="input-group mb-3" >
        <form action="upload-model" method="post" enctype="multipart/form-data">
        <div class="upload">
          <input  type="file" accept=".h5" name="fileToUpload" class="form-control" id="inputGroupFile02">
          <button  type=submit class="input-group-text" for="inputGroupFile02" onclick="upload()">Upload</button>
         
        </div>
        <% if(error!= ''){%>
          <br>
          <p style="width:fit-content; margin:auto; color: red;font-weight: bold;"><%=error%></p>
        <%}%>
      </form>
    </div>
</div>
<%- include("partials/footer") %>
